.header {
    border: 2px double black;
    border-radius: 25px;
    background-color: lightskyblue;
    font-family: fantasy;
    text-align: center;
}

body {
    background-color: magenta;
}

.repo {
    list-style-type: none;  
}

.me {
    list-style-type: none;
}
 
img {
    border-radius: 5%;
    margin-right: 150px;
}
.strong {
    font-weight: bold;
}

.aboutme {
    margin: 10px;
    margin-left: 25px;
}

img.pc {
    margin-right: 250px;
}