.header {
    border: 2px double black;
    border-radius: 25px;
    background-color: lightskyblue;
    font-family: fantasy;
    text-align: center;
}

body {
    background-color: magenta;
}

.repo {
    list-style-type: none;  
}

.me {
    list-style-type: none;
}
 