.header {
    border: 2px double black;
    border-radius: 25px;
    background-color: lightskyblue;
    font-family: fantasy;
    text-align: center;
}

body {
    background-color: magenta;
}

.repo {
    list-style-type: none;  
}

.me {
    list-style-type: none;
}
 
img {
    border-radius: 5%;
    margin-right: 120px;
    border: 15px solid lightskyblue;
}
.strong {
    font-weight: bold;
}

.aboutme {
    margin: 10px;
    margin-left: 25px;
    margin-bottom: 50px;
}

img.pc {
    margin-right: 100px;
    border: 15px solid lightskyblue;
    float: left ;
    margin-top: 250px;
    margin-left: 125px;
}
